{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    <div class="auth_zone">
        <div class="form_main">
            <form method="post">
                <div class="form_content">
                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a
                                    href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <h1 class="h3 mb-3 font-weight-normal">
                        {% if not app.user %}
                            Connexion à votre compte
                        {% else %}
                            Suppression de votre compte ?
                        {% endif %}
                    </h1>
                    <div class="message_box bg-danger">
                        {% for message in app.flashes('error') %}
                            <span>{{ message }}</span>
                        {% endfor %}
                    </div>
                    <div class="form_item">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                {# class="form-control" #}
                               autocomplete="email" required autofocus>
                    </div>
                    <div class="form_item">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" {# class="form-control" #}
                               autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    </div>

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                </div>
                {% if not app.user %}
                    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                    <div>
                        <a href="{{ path('app_register') }}">New Account</a>
                    </div>
                {% else %}
                    <button class="btn btn-lg btn-danger" type="submit">Delete</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
