{% extends 'base.html.twig' %}

{% block title %}Map index{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    <h1>Maps index</h1>

    <div class="back_admin">
        <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
    </div>

    <a href="{{ path('app_admin_map_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Nb Floor</th>
                <th>Nb Room</th>
                <th>Size</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for map in maps %}
            <tr>
                <td>{{ map.id }}</td>
                <td>{{ map.name }}</td>
                <td>{{ map.description }}</td>
                <td>{{ map.nbFloor }}</td>
                <td>{{ map.nbRoom }}</td>
                <td>{{ map.mapSize }}</td>
                <td>
                    <a href="{{ path('app_admin_map_show', {'id': map.id}) }}">show</a>
                    <a href="{{ path('app_admin_map_edit', {'id': map.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_map_new') }}">Create new</a>

    <div class="back_admin">
        <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
    </div>
{% endblock %}
