{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    {% include('partials/_adminSideMenu.html.twig') %}
    <div class="admin_zone">
        <h1>Map</h1>

        <a href="{{ path('app_admin_map_index') }}">back to list</a>
        <a href="{{ path('app_admin_map_edit', {'id': map.id}) }}">edit</a>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ map.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ map.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ map.description }}</td>
            </tr>
            <tr>
                <th>Nb Floor</th>
                <td>{{ map.nbFloor }}</td>
            </tr>
            <tr>
                <th>Nb Room</th>
                <td>{{ map.nbRoom }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_admin_map_index') }}">back to list</a>
        <a href="{{ path('app_admin_map_edit', {'id': map.id}) }}">edit</a>

        {{ include('admin_map/_delete_form.html.twig') }}
    </div>
{% endblock %}
