{% extends 'base.html.twig' %}

{% block title %}Evidence index{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    <div class="admin_zone">
        <h1>Evidences index</h1>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>

        <a href="{{ path('app_admin_evidence_new') }}">Create new</a>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for evidence in evidence %}
                <tr>
                    <td>{{ evidence.name }}</td>
                    <td>{{ evidence.description }}</td>
                    <td>
                        <a href="{{ path('app_admin_evidence_show', {'id': evidence.id}) }}">show</a>
                        <a href="{{ path('app_admin_evidence_edit', {'id': evidence.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_evidence_new') }}">Create new</a>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>
    </div>
{% endblock %}
