{% extends 'base.html.twig' %}

{% block title %}MapSize index{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    <div class="admin_zone">
        <h1>Map Sizes index</h1>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>

        <a href="{{ path('app_admin_map_size_new') }}">Create new</a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nb Max Lights On</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for map_size in map_sizes %}
                <tr>
                    <td>{{ map_size.id }}</td>
                    <td>{{ map_size.name }}</td>
                    <td>{{ map_size.nbMaxLightsOn }}</td>
                    <td>
                        <a href="{{ path('app_admin_map_size_show', {'id': map_size.id}) }}">show</a>
                        <a href="{{ path('app_admin_map_size_edit', {'id': map_size.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_map_size_new') }}">Create new</a>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>
    </div>
{% endblock %}
