{% extends 'base.html.twig' %}

{% block title %}MapSize{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    {% include('partials/_adminSideMenu.html.twig') %}
    <div class="admin_zone">
        <h1>Map Size</h1>

        <a href="{{ path('app_admin_map_size_index') }}">back to list</a>
        <a href="{{ path('app_admin_map_size_edit', {'id': map_size.id}) }}">edit</a>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ map_size.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ map_size.name }}</td>
            </tr>
            <tr>
                <th>Nb Max Lights On</th>
                <td>{{ map_size.nbMaxLightsOn }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_admin_map_size_index') }}">back to list</a>
        <a href="{{ path('app_admin_map_size_edit', {'id': map_size.id}) }}">edit</a>

        {{ include('admin_map_size/_delete_form.html.twig') }}
    </div>
{% endblock %}
