{% extends 'base.html.twig' %}

{% block title %}Equipment index{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    {% include('partials/_adminSideMenu.html.twig') %}
    <div class="admin_zone">
        <h1>Equipments index</h1>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>

        <a href="{{ path('app_admin_equipment_new') }}">Create new</a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Utilisation</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for equipment in equipment %}
                <tr>
                    <td>{{ equipment.id }}</td>
                    <td>{{ equipment.name }}</td>
                    <td>{{ equipment.description }}</td>
                    <td>{{ equipment.utilisation }}</td>
                    <td>
                        <a href="{{ path('app_admin_equipment_show', {'id': equipment.id}) }}">show</a>
                        <a href="{{ path('app_admin_equipment_edit', {'id': equipment.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_equipment_new') }}">Create new</a>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>
    </div>
{% endblock %}
