{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block main_class %}main_container{% endblock %}

{% block main %}
    {% include('partials/_adminSideMenu.html.twig') %}
    <div class="admin_zone">
        <h1>Types index</h1>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>

        <a href="{{ path('app_admin_type_new') }}">Create new</a>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.name }}</td>
                    <td>{{ type.description }}</td>
                    <td>
                        <a href="{{ path('app_admin_type_show', {'id': type.id}) }}">show</a>
                        <a href="{{ path('app_admin_type_edit', {'id': type.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_type_new') }}">Create new</a>

        <div class="back_admin">
            <a href="{{ path('app_admin') }}">Back to ADMIN MENU</a>
        </div>
    </div>
{% endblock %}
