<div class="form_main">
    {{ form_start(form) }}
    <div class="form_content">
        <div class="form_item">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form_item">
            {{ form_label(form.url) }}
            {{ form_widget(form.url) }}
        </div>
        <div class="form_item">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
        </div>
    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>