{% extends 'base.html.twig' %}

{% block title %}Investigation{% endblock %}

{% block main_class %}investigation_container{% endblock %}

{% block main %}

    <div class="infos_zone">
        <p>
            <label for="level-select">Difficulté :</label>
            <select id="level-select" class="js-select js-sel-level">
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="map-select">Map :</label>
            <select id="map-select" class="js-select js-sel-map">
                {% for map in maps %}
                    <option value="{{ map.id }}">{{ map.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="level-select">Durée chasses [maudites] :</label>
            <span class="js-durations">00:00 [00:00]</span>
        </p>
    </div>

    <div class="evidences_zone">
        <h2>Preuves</h2>
        <div class="checkboxes">
            {% for evidence in evidences %}
                <div class="checkbox">
                    <label for="chk" class="evidence_name">{{ evidence.name }}</label>
                    <input type="checkbox" id="chk" class="js-evidence" data-evidence-id="{{ evidence.id }}">
                    {# <img src="{{ asset('./build/assets/images/skins_evidences/' ~ format_file_name(evidence.name) ~ '.png')}}" #}
                    {# alt="evidence image"> #}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="entities_zone">
        <h2>Entités possibles</h2>
        <div class="entity_list">
            {% for entity in entities %}
                {% if entity.evidences.count > 0 %}
                    <span class="js-entity"
                          data-entity-id="{{ entity.id }}">
                        {{ entity.name }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="Result_Btn_zone">
        <div class="buttons">
            <button class="btn btn-success">OK</button>
            <button class="btn btn-danger">KO</button>
        </div>
    </div>

    <div class="other_evidences_zone">
        <div class="checkboxes">
{#            {% for evidence in evidences %}#}
{#                <div class="checkbox">#}
{#                    <label for="chk">{{ evidence.name }}</label>#}
{#                    <input type="checkbox" id="chk">#}
{#                </div>#}
{#            {% endfor %}#}
        </div>
    </div>

{% endblock %}