{% extends 'base.html.twig' %}

{% block title %}Investigation{% endblock %}

{% block main_class %}investigation_container{% endblock %}

{% block main %}

    <div class="infos_zone">
        <p>
            <label for="level-select">Difficulté :</label>
            <select id="level-select" class="js-select js-sel-level">
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="map-select">Map :</label>
            <select id="map-select" class="js-select js-sel-map">
                {% for map in maps %}
                    <option value="{{ map.id }}">{{ map.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="level-select">Durée chasses [maudites] :</label>
            <span class="js-durations">00:00 [00:00]</span>
        </p>
    </div>

    <div class="evidences_zone">
        <h2>Preuves</h2>
        <div class="checkboxes">
            {% for evidence in evidences %}
                <div class="check_group">
                    <input type="checkbox" id="{{ 'chk' ~ evidence.id }}" class="js-evidence"
                           data-evidence-id="{{ evidence.id }}">
                    <label for="{{ 'chk' ~ evidence.id }}" class="evidence_name"
                           data-evidence-name="{{ evidence.name }}">
                        <img src="{{ asset('/build/assets/images/skin_evidences/' ~ format_file_name(evidence.name) ~ '.png') }}"
                             title="{{ evidence.name }}" alt="Icone de la preuve : {{ evidence.name }}">
                    </label>
                </div>
                {#                OLD VERSION with text and checkboxes #}
                {#                <div class="check_group"> #}
                {#                    <label for="chk" class="evidence_name">{{ evidence.name }}</label> #}
                {#                    <input type="checkbox" id="chk" class="js-evidence" data-evidence-id="{{ evidence.id }}"> #}
                {#                    #}{# <img src="{{ asset('./build/assets/images/skins_evidences/' ~ format_file_name(evidence.name) ~ '.png')}}" #}
                {#                    #}{# alt="evidence image"> #}
                {#                </div> #}
            {% endfor %}
        </div>
    </div>

    <div class="entities_zone">
        <h2>Entités possibles</h2>
        <div class="entity_list">
            {% for entity in entities %}
                {% if entity.evidences.count > 0 %}
                    <span class="js-entity js-possible"
                          data-entity-id="{{ entity.id }}">
                        {{ entity.name }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="result_btn_zone">
        <div class="buttons">
            <button class="btn btn-success">OK</button>
            <button class="btn btn-danger">KO</button>
        </div>
    </div>

    <div class="entity_information_zone">
        <div class="current_entity">
            {#            <aside class="entity_skin" style="background-image: url({{ asset('build/assets/images/skins_entities/skin' ~ random(1,11) ~ '.webp') }})" #}
            <aside class="entity_skin">
            </aside>
            <div class="entity_infos">
                <div class="title_navigation">
                    <button class="js-btn-disp js-btn-prev" data-entity-id="">prev</button>
                    <h2 class="js-name" data-current-entity-id=""></h2>
                    <button class="js-btn-disp js-btn-next" data-entity-id="">next</button>
                </div>
                <table>
                    <tr>
                        <th scope="row">Capacité</th>
                        <td class="js-spe-mov"></td>
                    </tr>
                    <tr>
                        <th scope="row">s.m. chasse</th>
                        <td class="js-sm_attack"></td>
                    </tr>
                    <tr>
                        <th scope="row">Vitesse</th>
                        <td class="js-speed"></td>
                    </tr>
                    <tr>
                        <th scope="row">Stun encens</th>
                        <td class="js-stun-smudge"></td>
                    </tr>
                    <tr>
                        <th scope="row">Temps entre chasses</th>
                        <td class="js-time-attack"></td>
                    </tr>
                    <tr>
                        <th scope="row">Temps attaques après encens</th>
                        <td class="js-time-attack-smudge"></td>
                    </tr>
                </table>
            </div>
{#            <div class="buttons">#}
{#                <button class="js-btn-disp js-btn-prev" data-entity-id="">prev</button>#}
{#                <button class="js-btn-disp js-btn-next" data-entity-id="">next</button>#}
{#            </div>#}
        </div>
    </div>

    <div class="timers_zone">
        <div class="timer_hunt">
            <h2>Chasse</h2>
            <main class="display">
                <span id="min">00</span> :
                <span id="sec">00</span>
                <span id="ms">000</span>
            </main>
            <button class="btn_start" id="start" type="submit" title='Touche "Haut" du clavier'>START</button>
            <button class="btn_pause" id="pause" type="submit" title='Touche "Droite" du clavier'>PAUSE</button>
            <button class="btn_reset hidden" id="reset" type="reset">RESET</button>
        </div>
        <div class="timer_smudge">
            <h2>Encens</h2>
            <main class="display">
                <span id="min">00</span> :
                <span id="sec">00</span>
                <span id="ms">000</span>
            </main>
            <button class="btn_start" id="start" type="submit" title='Touche "Bas" du clavier'>START</button>
            <button class="btn_pause" id="pause" type="submit" title='Touche "Gauche" du clavier'>PAUSE</button>
            <button class="btn_reset hidden" id="reset" type="reset">RESET</button>
        </div>
    </div>

    {% include('partials/_popup.html.twig') %}

{% endblock %}